﻿
@{
    ViewBag.Title = "Basics of ASP.NET";
}

<h1>ASP.NET Basics</h1>
<h2>MVC</h2>
<li><strong>M</strong> odels: Classes that represent the data of the application and that use validation logic to enforce business rules for that data.</li>
<li><strong>V</strong> iews: Template files that your application uses to dynamically generate HTML responses.</li>
<li><strong>C</strong> ontrollers: Classes that handle incoming browser requests, retrieve model data, and then specify view templates that return a response to the browser.</li>
<p><small>-From microsoft documentations</small></p>

<h2>Routing</h2>
<p>The default URL routing logic used by ASP.NET MVC uses a format like this to determine what code to invoke:</p>
<p><code>/[Controller]/[ActionName]/[Parameters]</code></p>
<p>You can change the routing logic in the  App_Start/RouteConfig.cs file.</p>

<h2>URl Path queries</h2>
<p><strong>@Html.ActionLink("url query demo", "Index", new { query = "test",name="john" })</strong> (you can change the query yourself)</p>
<pre><code>    @@if (@@ViewBag.Query==null)
        { empty }
    else
        { @@ViewBag.Query}</code></pre>
<p>
    Parameter query: <strong>
        @if (@ViewBag.Query == null)
        { <text>empty</text> }
        else
        { @ViewBag.Query}
    </strong>

    Parameter Name: <strong>
        @if (@ViewBag.Name == null)
        {
            <text>empty</text>}
        else
        {
            @ViewBag.Name}
    </strong>
</p>
<p>First the controller class of the page needs to get the url queries in the according action method.</p>
<p>In this example, the action is "Index", which is the default when no action is specified, (/Basics/Index)</p>
<p>Then, the the "Index" method of the Basics controller needs to get the parameters as function arguments:</p>
<pre><code>        // GET: Basics
        public ActionResult Index(string query,string name)
        {
            ViewBag.Query = query;
            ViewBag.Name = name;
            return View();
        }</code></pre>
<p>After that, all we need to do is to go to the Index view cshtml file of Basics and use the @@ViewBagBag.Query to get the query text:</p>
