﻿@model IEnumerable<MvcMovie.Models.Movie>

@{
    ViewBag.Title = "Database Interaction Demo";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
<p><strong>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</strong></p>
<p>When you create a MVC controller with views using Entity Framwork in Visual Studio, VS will automatically create all the CRUD methods in the MoviesController and views for you. </p>
<p><small>(The view will have html links that invokes the controller methods. Looks like asp.net html helper will manage the get and post, and can be distinguished by nothing(deafult to [HttpGet]) and [HttpPost])</small></p>
<p>CRUD methods in Movie Controller:</p>
<pre><code>public ActionResult Create([Bind(Include = "ID,Title,ReleaseDate,Genre,Price")] Movie movie)
        {
            if (ModelState.IsValid)
            {
                db.Movies.Add(movie);
                db.SaveChanges();
                return RedirectToAction("Index");
            }
            return View(movie);
        }
        // GET: Movies/Edit/5
        public ActionResult Edit(int? id)
        {
            if (id == null)
            {
                return new HttpStatusCodeResult(HttpStatusCode.BadRequest);
            }
            Movie movie = db.Movies.Find(id);
            if (movie == null)
            {
                return HttpNotFound();
            }
            return View(movie);
        }
        // POST: Movies/Edit/5
        // To protect from overposting attacks, please enable the specific properties you want to bind to, for 
        // more details see http://go.microsoft.com/fwlink/?LinkId=317598.
        [HttpPost]
        [ValidateAntiForgeryToken]
        public ActionResult Edit([Bind(Include = "ID,Title,ReleaseDate,Genre,Price")] Movie movie)
        {
            if (ModelState.IsValid)
            {
                db.Entry(movie).State = EntityState.Modified;
                db.SaveChanges();
                return RedirectToAction("Index");
            }
            return View(movie);
        }
        // GET: Movies/Delete/5
        public ActionResult Delete(int? id)
        {
            if (id == null)
            {
                return new HttpStatusCodeResult(HttpStatusCode.BadRequest);
            }
            Movie movie = db.Movies.Find(id);
            if (movie == null)
            {
                return HttpNotFound();
            }
            return View(movie);
        }</code></pre>
<p>And in side the Movie default View cshtml:</p>
<pre><code>@@Html.ActionLink("Create New", "Create")</code></pre>
<p>will return a html hyperlink that invokes the create method in MoviesController to create a DB instance.</p>
<p>To access the instances/rows of the table, a for loop is used:</p>
<pre><code>@@foreach (var item in Model) {...}</code></pre>
<p>inside the for loop, <code>@@Html.DisplayFor(modelItem => item.Title)</code> is used to access instance data,</p>
<p>Then this <code>@@Html.ActionLink("Edit", "Edit", new { id = item.ID })</code> returns a link that invokes the edit method in controller class.</p>