﻿
@{
    ViewBag.Title = "MembershipFeature";
}

<h2>MembershipFeature</h2>
<p>Visual Studio MVC templates come with scaffoldding code that provides basic membership feature which uses localDB at deafult to control who can access the application.</p>
<p><strong>Click the register or log-in in the top right corner to try it out.</strong></p>
